.html
.rdb
.rdx
.Rproj.user
.Rhistory
.RData
.Ruserdata
/*_cache/
*_cache/**
/*rsconnect/
*rsconnect/**
plot1.pdf
plot2.pdf
plot3.pdf
plot4.pdf
plot_1.pdf
plot_2.pdf
plot_3.pdf
plot_4_viridis-A.pdf
plot_4_viridis-B.pdf
plot_4_viridis-C.pdf
